@import url('https://fonts.googleapis.com/css?family=Monoton');<Paste>

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Monoton', sans-serif;
  color: #333;
  user-select: none;
  animation: title-text 0.5s both 0.5s;
  animation-timing-function: ease-in;
}

h1:before {
  position: absolute;
  display: inline-block;
  content: "";
  left: -5%;
  bottom: -20px;
  height: 50px;
  background: linear-gradient(to right, #7771bf,#d17e62);
  opacity: 0.3;
  animation: title-underline 0.2s both 1.5s;
  animation-timing-function: ease-in;
}

h2 {
  font-size: 100px;
  color: #fff;
}

.about {
  min-height: 100vh;
  background-color: #363636;
  display: flex;
}

@keyframes title-text {
  0% {
    opacity: 0;
    transform: rotate(-280deg);
    font-size: 0px;
  }
  100% {
    opacity: 1;
    transform: rotate(5deg);
    font-size: 12vw;
  }
}

@keyframes title-underline {
  0% {
    width: 0;
  }
  100% {
    width: 110%;
  }
}
